/* *{
    
    margin: 0,1px;
    padding: 0;
    

}  */
body{
    font-family: roboto, sans-serif;
    background-image: url(https://images.pexels.com/photos/2739013/pexels-photo-2739013.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
    ); 
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
/* ---------------------------------------------Hero Section------------------------------ */
.header-title {
    font-family: 'Patua One', cursive;
    color:rgb(195, 240, 123);
    position: relative;
    top: 100px;
    /* background-color: rgba(245, 183, 183, 0.459);  */
    max-width: 100%;
    text-align: center;
    text-shadow: rgb(252, 157, 179) 1px 0 10px;
    outline: 1px solid rgb(243, 241, 241);
    font-weight: 400;
    z-index: 1;
 
}
  .photo_banner{
    position: relative;
    top: 20px;
 }
 .photo_banner img{
    background-color:coral, white;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    /* position:relative;
    left: 100px; */
 }

 .photo_banner-1{
    left: 100px;
    position: relative;
    bottom:10px;
    box-shadow: -8px 10px 20px -4px rgba(207,21,21,0.75);
-webkit-box-shadow: -8px 10px 20px -4px rgba(207,21,21,0.75);
-moz-box-shadow: -8px 10px 20px -4px rgba(207,21,21,0.75);
 }

 .photo_banner-2{
    position: relative;
    left: -20px;
    bottom:30px;
    box-shadow: -8px 10px 10px -1px rgba(45,52,56,0.75);
-webkit-box-shadow: -8px 10px 10px -1px rgba(45,52,56,0.75);
-moz-box-shadow: -8px 10px 10px -1px rgba(45,52,56,0.75);
 }

 .photo_banner-3{
    left: -120px;
    position: relative;
    z-index: -1;
    bottom:10px;
    box-shadow: -8px 10px 20px -4px rgba(207,21,21,0.75);
-webkit-box-shadow: -8px 10px 20px -4px rgba(207,21,21,0.75);
-moz-box-shadow: -8px 10px 20px -4px rgba(207,21,21,0.75);
 }

 nav ul{
    white-space: nowrap;
}

.nav-link{
    text-decoration: none;
    display: flex;
    /* width: 10%; */

 }

 #carouselExampleCaptions{
    position: relative;
    top: 150px;
    left: 120px;
    width: 80%;
    /* margin: auto; */

 }


.carousel-item{
   
    height: 300px; 
    width: 400px;
    /* object-fit:cover; */
    position: relative; 
    /* top: 200px; */
    left: 350px; 
    border-style: solid;
    /* outline-style:solid red; */
    border-radius: 10px;
}



.main{
    background-color: rgba(240, 255, 255, 0.486);
    width: 50%;
    /* margin: auto; */
    padding: 5rem;
    border: 5rem;
    position:relative;
    left: 20px;
    /* right:20px; */

}

