 
    


body {
  font-family: roboto, sans-serif;
  background-image: url(https://images.pexels.com/photos/5864623/pexels-photo-5864623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 32, 29, 0.993);
  background-position: center;
  

}

/* ---------------------------------------------Hero Section------------------------------ */
.header-title {
  font-family: "Patua One", cursive;
  color:whitesmoke;
  position: relative;
  top: 100px;
  text-align: center;
  text-shadow: rgb(0, 132, 255) 1px 0 10px;
  outline: 1px solid rgb(243, 241, 241);
  font-weight: 400;
  
}
 

 

#carouselExampleCaptions {

  position: relative;
  top: 150px;
  left: 120px;
  width: 80%;
  background-color: rgba(245, 245, 245, 0.144);
  border-radius: 10px;
  /* margin: auto; */
}


.carousel-item {
  height: 300px;
  width: 400px;
  position: relative;
  left: 350px;
  border-style: solid;
  border-radius: 10px;
  object-fit:fill;
}



 footer{
  
  position: relative;
  top: 470px; 
  height: 20vh;

}  
 nav {
  height: 20vh;
  padding: 20px 0;
} 
nav ul{
  white-space: nowrap;
  margin:auto;
} 


li a{
  text-decoration: none;
  color: white;
}
.socialMedia_items {
  display: inline-block;
  color: rgb(0, 132, 255);
  position: relative;
  left: 500px;
  bottom: 60px;
  width: 10%;
  font-size: x-large;
  padding: 0;
  margin: 0;
 
  }
 /* .fa fa-instagram:hover {
  background-color: crimson;
transform: translate(-5px -10px);
cursor: pointer;
 }  */ 




/* -----------------------------------About Page----------------------------------- */
.aboutPage{
    font-family: roboto, sans-serif;
    background-image: url(https://img.freepik.com/premium-photo/bamboo-wicker-pattern-as-background-extreme-closeup_476612-6650.jpg?w=740);
    background-repeat:no-repeat;
    background-size: fill;
    background-position:center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.about{
  background-color: rgb(87, 73, 68);
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
 z-index: 2;
}
.mainAboutPage{
  /* background-color: rgba(245, 245, 245, 0.336); */
    width: 80%;
    margin: 10% auto;
     line-height: 2em; 
     /* text-align: left ; */
     font-weight: 700;
     font-size: 20px;
     /* text-shadow: 0.5px 0.5px white; */
     justify-content: center;
     padding: 0 10px;
}
img{
  float: right;
  outline-style: groove;
  width: 300px;
  height: 300px;
}

h4{
  text-align: center;
  color: white;
  font-weight: 700;
     font-size: 24px;
     background-color: rgb(87, 73, 68);
     position: -webkit-sticky;
     position: sticky;
     top: 110px;
}
 #tarlacProvince{
  position: -webkit-sticky;
  position: sticky;
  top: 78px;
  z-index: 1;
 }

 /* --------------------------------------------------Tourist Spot--------------------------- */



 .tourismPage{
  font-family: 'Courgette', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url(https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-position: center;
}

.touristSpotheader{
  font-family: roboto, sans-serif;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgb(87, 73, 68);
  width: 100%;
}

.mainParagraph{
  font-size: 20px;
line-height: 2em;
margin: auto;
padding: 10px;
width: 90%;
}
img{
  height: 250px;
  width: 250px;
  object-position:center;
  align-items: center;
  padding: 5px;
  /* float: right; */
}
/* .conatiner{
  padding: 100px;
}  */